.button {
  background-color: rgba(0, 0, 0, 0.25);
  font-family: "fc-marshmallow", sans-serif;
  padding: 0.5ex 1em;
  font-size: 2rem;
  line-height: 1;
  padding-bottom: 1ex;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.shortAddress {
  font-family: "fc-marshmallow", sans-serif;
  padding: 0.5ex 0;
  font-size: 2rem;
  line-height: 1;
  padding-bottom: 1ex;
}
